:root {
    --page-bg: lightgray;
    --group-bg: white;
    --bar-bg: white;
    --shadow: darkgray;
    --button-bg: lightgray;
    --hr-color: gray;
    --link-color: darkslategray;
    --text-color: black;
    --logo-filter: none;
}

@media (prefers-color-scheme: dark) {
    :root {
        --page-bg: rgb(15, 28, 48);
        --group-bg: rgb(36, 60, 95);
        --bar-bg: rgb(36, 60, 95);
        --shadow: rgb(8, 15, 26);
        --button-bg: rgb(8, 15, 26);
        --hr-color: rgb(168, 188, 207);
        --link-color: rgb(168, 188, 207);
        --text-color: lightgrey;
        --logo-filter: invert(0.9);
    }
}

.group {
    margin: 10px;
    border: 0px solid;
    box-shadow: 4pt 4pt var(--shadow);
    background: var(--group-bg);
    padding: 1px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
}

.logo {
    filter: var(--logo-filter);
}

body, header, footer {
    font-family: monospace;
    color: var(--text-color);
}

body {
    background-repeat: no-repeat;
    margin-top: 80pt;
    background: var(--page-bg);
}
.bar {
    top: 0px;
    width: 100%;
    height: 40pt;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: var(--bar-bg);
    box-shadow: 0pt 4pt var(--bar-bg);
    display: flex;
    align-items: center;
    align-content: space-between;
    gap: 10pt;
    padding: 10pt;
}

.bar.title {
    top: 10pt;
    display: inline;
    line-height: 1pt;
}
#up_button {
    position: absolute;
    display: none;
    border: 0px;
    background-color: var(--button-bg);
    height: 30pt;
    width: 30pt;
    font-size: 24pt;
    right: 50pt;
    color: var(--text-color);
    font: monospace;
}
a {
    color: var(--link-color);
}
hr {
    border: 2px solid var(--hr-color);
    border-radius: 2px;
}
